<%= render "layouts/header" %>

<div class = "frame">
</div>

<div class = "pure-g">
	
		<div class = "pure-u-1 slideshow_container">
			<%= render "slideshow" %>
		</div>

</div>

<div class = "pure-g">
		<div class = "pure-u-1 container">
			<div class="announcements">
				<div class="announcements titlebar">
					<h4>WELCOME TO THE </h4>
					<h3>YALE FILM ASSOCIATION</h3>
					<p>Sign in to create or join a team!</p>
				</div>
			</div>
		</div>

</div>

