<%= render "layouts/header" %>


<div class = "pure-g">
	
		<div class = "pure-u-1 slideshow_container">
			<div class = "frame">
			</div>
			<%= render "slideshow" %>
		</div>

</div>

<div class = "pure-g">
		<div class = "pure-u-1 container">
			<div class="announcements">
				<div class="announcements titlebar">
					<h4>Welcome to the </h4>
					<h1>YALE FILM ASSOCIATION</h1>
					<h4>Sign in to create or join a team!</h4>
				</div>
			</div>
		</div>

</div>

