<link rel="stylesheet" type="text/css" href="/jquery/jquery.datetimepicker.css"/>
<script src="/jquery/jquery.datetimepicker.js"></script>
<script>
$(document).ready(function(){
	$('#datetimepicker').datetimepicker();
});
</script>



<div class = "pure-g">

	<div class = "pure-u-1 container">

		<h1>Add audition slots</h1>

		<%= render 'audition_forms' %>

		

	

	</div>
	
</div>


