<%= render "layouts/header" %>


<div class = "pure-g">
	<div class = "pure-u-1 container">

	<h1> All Filmmakers </h1>
		
		<% User.all.each do |u| %>
			<p>
			<% if u.email != nil %>
				<%= image_tag u.image_url(:tiny_avatar).to_s %>
				<%= link_to u.name, user_path(u.id)%>
			<% end %>
			</p>

		<% end %>

	</div>
</div>