body {
	background-image: url(/noir_background.png);

  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

  	color:	#B7B9BB;

  	font-family: 'Open Sans', sans-serif;
}

/* screening show page styling */

.project_title {
font-size: 50px;
}

.top_half {
text-align: center;
margin-bottom:25px;
}

.project_image {
margin-top:25px;
width:100%;
height: 400px;
overflow:hidden;
}

.project_image img {
width:100%;
}

.project_description {
font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-weight: 300;
letter-spacing: 1px;
}

.bottom_half {
font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-weight: 300;
letter-spacing: 1px;
}

h1 {
	font-family:'Josefin Sans', sans-serif;
	font-weight:300;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-align: center;
}

h2 {
	font-family:'Josefin Sans', sans-serif;
	font-weight:400;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-align: left;
	font-size: 25px;
}

h4 {
	font-family:'Josefin Sans', sans-serif;
	font-weight:500;
	letter-spacing: 1px;

}


input {
	margin-top: 15px;
	margin-bottom: 15px;
}


a:link {
	color:#B7B9BB;
}
a:visited {
	color:#B7B9BB;
}
a:hover {
	color:#0066FF;
}

.container {
	position: relative;
	left: 50%;
	margin-left: -425px;
	width: 850px;
	margin-top:25px;
	top:0px;
	bottom:0px;
	padding-bottom:25px;
}


/* Menu styling */

#menu {
	background-color: #ECEDED;
	font-family:'Josefin Sans', sans-serif;
	font-weight:700;
	text-transform: uppercase;
	letter-spacing:2px;
	font-size: 14px;
	text-align: center;

}

#menu a:link {
	color:#0F161D;
}

#menu a:hover {
	color:#0066FF;
}

/* Announcements styling */

.announcements {
	height:150px;
}

.announcements.titlebar {
	text-align: left;
	font-family:'Josefin Sans', sans-serif;
	line-height: .5;
	color:#9FA2A5;
}

.announcements.titlebar h1 {
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 64px;
	font-weight:300;
	text-align: left;

}

.announcements.titlebar h4 {
	letter-spacing: 1px;
	font-size: 35px;
	font-weight: 300;
	color: 	#6F7377;
	line-height: .1;
}


/* Slideshow styling */

.slideshow_container {
	position: relative;
	width:100%;
	overflow: visible;
	background-color:#0F161D ;
}

.start {
	margin-left:255px;
}

.frame {
	position: absolute;
	left: 50%;
	margin-left: -425px;
	width: 844px;
	height: 350px;
	border: 3px solid #0066FF;
	z-index: 1;
	margin-top:25px;
}

#slideshow #slideshowWindow {
			width:100%;
			height:400px;
			margin:0;
			padding:0;
			position:relative;
			overflow:hidden;
		}

		#slideshow #slideshowWindow .slide {
			margin:0;
			padding:0;
			width:900px; 
			height:400px;
			float:left;
			position:relative;
		}

		.slide img {
			width:100%;
			opacity: 85%;
		}

		#slideshow #slideshowWindow .slide .slideText {
			position:absolute;
			top:75px;
			margin-left:55px;
			height:50px;
			margin-top:40px;
			width:300px;
			font-weight: 700;
			text-transform: uppercase;
			font-family:'Josefin Sans', sans-serif;
			line-height: .35;
			z-index: 2;
		}

		#slideshow #slideshowWindow .slide .slideText a:link, 
		#slideshow #slideshowWindow .slide .slideText a:visited {
			color:#0066FF;
			text-decoration:none;
		}

		#slideshow #slideshowWindow .slide .slideText a:hover {
			color:#33CCFF;
		}

		#slideshow #slideshowWindow .slide .slideHeader {
			position:absolute;
			top:50px;
			margin-left:50px;
			height:30px;
			border: 3px solid #0066FF;
			padding: 5px 10px 20px 10px;
			color:#0066FF;
			font-weight: 400;
			font-family:'Josefin Sans', sans-serif;
			line-height: .35;
			z-index: 2;
		}

		#slideshow #slideshowWindow .slide .slideText h1 {
			letter-spacing: .5px;
			font-size:50px;
			line-height: 1;
			text-align:left;
			font-weight:700;
		}

		#slideshow #slideshowWindow .slide .slideHeader h3 {
			letter-spacing: 2px;
			font-size:18pt;
		}

	