/* Profile styling */

.profile_image {
	margin-top:25px;
	margin-bottom:50px;
	width:75%;
	max-height: 300px;
	overflow:hidden;
}

.profile_image img {
	width:100%;
}

.left_align {
	text-align: left;
	margin-left: 0px;
	padding-left:0px;
}

.spacing_button {
	margin-top:25px;
	margin-bottom:25px;
}

.user_list a:link {
	font-size: 30px;
	font-family:'Josefin Sans', sans-serif;
	font-weight:300;
	letter-spacing: 2px;
	text-decoration: none;
}

.user_list {
	width: 300px;
	margin-bottom:50px;
}

.user_thumb {
	height: 100px;
	width: 100px;
	margin: 10px;
	overflow: hidden;
}

.user_thumb img {
	height:100%;
}
